.manage-button {
    float: right;
    margin-right: 20px;
    font-size: 20px;
    background-color: #ffc107;
    color: #007bff;
    padding: 3px 15px;
    border-radius: 5px;
}
.content-title {
    float: left;
}
.title-wrapper {
    height: 30px;
}
td.nodata {
    text-align: center;
}
a.generate-password {
    color: red !important;
    cursor: pointer;
    border: 1px solid #888;
    padding: 3px 10px;
    display: block;
    width: 100px;
    text-align: center;
    margin-top: 5px;
    border-radius: 5px;
    background: #cc0;
}