.manage-button {
    float: right;
    margin-right: 20px;
    font-size: 20px;
    background-color: #ffc107;
    color: #007bff;
    padding: 3px 15px;
    border-radius: 5px;
}
.content-title {
    float: left;
}
.title-wrapper {
    height: 30px;
}
td.nodata {
    text-align: center;
}