extends ../layout

block content
  h1 Content Commerce Refund List
  p.lead Test for Shopify Product API.
  hr
  .row
    each refund in refundList
      .col-md-6
        h2 #{ refund.original_order_number }
        .product-body
          if refund.reason.replace(/(<([^>]+)>)/ig, "").length > 50
            p= 'Reason: ' + refund.reason.replace(/(<([^>]+)>)/ig, "").substr(0, 200) + '...'
          else 
            p= 'Reason: ' + refund.reason.replace(/(<([^>]+)>)/ig, "")
    